files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_chown.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      DIR="/tmp/.npm/"
      if [ ! -d "$DIR" ]; then
          # if $DIR doesn't exist, create it
          mkdir -p $DIR
      fi
      # Changing ownership
      chown -R nodejs:nodejs $DIR
