Resources:
  ELBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: ELB SecurityGroup for ElasticBeanstalk environment.
      SecurityGroupIngress:
      - FromPort: 8080
        ToPort: 8080
        IpProtocol: tcp
        CidrIp : 0.0.0.0/0
      - FromPort: 443
        ToPort: 443
        IpProtocol: tcp
        CidrIp : 0.0.0.0/0
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
      SecurityGroups:
        - Fn::GetAtt:
        - ELBSecurityGroup
        - GroupId
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
      Listeners:
        - {LoadBalancerPort: 80, InstancePort: 8080, Protocol: "HTTP", InstanceProtocol: "HTTP"}
        - {LoadBalancerPort: 443, InstancePort: 80, InstanceProtocol: "HTTP", Protocol: "HTTPS", SSLCertificateId: "arn:aws:iam::429230952994:server-certificate/my-server-cert"} 

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000644
    owner: root
    group: root
    content: |
        Listen 8080

        <VirtualHost *:8080>
            DocumentRoot /var/www/html
            #ServerName whatever.com
            #ServerAlias https://www.whatever.com
            RewriteEngine On
            RewriteCond %{HTTP:X-Forwarded-Proto} =http
            RewriteRule . https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
        </VirtualHost>
