{% extends "bootstrap/base.html" %}

{% block title %}ElastiCache data input form{% endblock %}

{% block content %}
	<center>
	<h1>ElastiCache data input form</h1>
	<p><p>
	<div class="container">
        <form method="POST" action="">
           	Type in the value that you would like to store in key called "{{memcache_key}}" of ElastiCache memcache server (Ex.: "foo"): 
           	<input type="text" name="posted_cache_value">
            <input type="submit" name="submit" value="Submit">
        </form>
        <h4>Last value from key called "{{memcache_key}}", inserted in Elasticache server:</h4> 
	<P> <font color=gree>{{ cached_data }}</font><P>
        {% if posted_cache_value %}
            <h3>
            	<font color=red>Debug</font>
            </h3>
		    <h4>post_cache_value is "{{ posted_cache_value }}"</h4>
		    <h4>memcache_endpoint is "{{ memcache_endpoint }}"</h4>
        {% endif %}
    </div>
	</center>
{% endblock %}

